.Edu-header{
    position:absolute;
    top: 18%;
    left: 15%;
    font-weight: 900;
}

.Edu-back-button{
    color: white;
    font-size: 14px;
    font-weight:bold;
    position:fixed;
    top: 80%;
    left: 5%;
    border-radius: 20px;
    border: 1px solid red;
    padding:5px;
    height: 5%;
    width:10%;
    margin:5%;
    background-color: rgb(238, 96, 44);
}

.Edu-back-button:hover{
    color: white;
    font-size: 14px;
    font-weight:bold;
    position:fixed;
    top: 80%;
    left: 5%;
    border-radius: 20px;
    border: 1px solid coral;
    padding:5px;
    height: 5%;
    width:10%;
    margin:5%;
    background-color: coral;
}

.Edu-done-button{
    color: white;
    font-size: 14px;
    font-weight:bold;
    position:fixed;
    top: 80%;
    left: 75%;
    border-radius: 20px;
    border: 1px solid red;
    padding:5px;
    height: 5%;
    width:10%;
    margin:5%;
    background-color: rgb(238, 96, 44);
}

.Edu-done-button:hover{
    color: white;
    font-size: 14px;
    font-weight:bold;
    position:fixed;
    top: 80%;
    left: 75%;
    border-radius: 20px;
    border: 1px solid coral;
    padding:5px;
    height: 5%;
    width:10%;
    margin:5%;
    background-color: coral;
}

.edu-box{
    position: absolute;
    left:30%; 
    top:25%;
    border: invisible;
    /* border-left-color:red;
    border-left-width: thick; */
    padding: 5px;
    padding-bottom: 1%;
    padding-right: 2%;
    margin: 20px;

}

.edu-input-box{
    border: 1px solid #000000;
    border-left-color:red;
    border-left-width: 5px;
    margin: 20px;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;

}

.edu-info-label{
    position: relative;
    padding: 10px;
    margin: 12px;
    text-align: center;
    font-weight: 900;
    border: 1px solid black;
    border-left-color:red;

}

.edu-info{
    position: relative;
    padding: 10px;
    padding-right: 70px;

    margin: 12px;
    text-align: center;
    font-weight: 900;
    
   
}