.edu-navbar-logo{
    color: rgb(250, 90, 16);
    /* font-size: 15px ; */
    cursor: pointer;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: -6%;

}

.edu-navbar-p{
    border: 0px  solid transparent;
    width: 150px;
    overflow-x:visible;
    overflow-y: hidden;
    /* font-size: 14px; */
    color:red;
}

.fa-graduation-cap {
    /* font-size: 4rem; */
    padding: -1%;
    float: left;
    border: 4px  solid transparent;
    color:red;
    position: relative;
    left:0%;

}
.edu-cap{
    /* font-size: 4rem; */
    float: left;
    border: 4px  solid transparent;
    color:red;
}

.Edu-header{
    font-weight: 900;
}


.Edu-done-button{
    color: white;
    font-weight:bold;
    border-radius: 20px;
    border: 1px solid red;
    margin:5%;
    background-color: rgb(238, 96, 44);
}

.Edu-done-button:hover{
    color: white;
    font-weight:bold;
    border-radius: 20px;
    border: 1px solid coral;
    margin:5%;
    background-color: coral;
}

.edu-box{
    padding: 2%;
    padding-right: 2%;

}

.edu-input-box{
    border: 1px solid #000000;
    border-left-color:red;
    border-left-width: 5px;
    margin-bottom:3%;
    padding:2%;
    
}

.edu-info-label{
    padding:1%;
    text-align: center;
    
}

.edu-select{
    text-align: center;
   
}