
.container {
    position:relative;
    top:20px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 90px;
    padding-bottom: 90px;
    padding-left: 90px;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 100%;
    align-content: space-between;
  }


.ProgramsList-box{
    border: 2px solid #000000;
    border-top-color:rgb(227, 82 , 5);
    border-top-width: 7px;
    /* border-bottom-color:rgb(0, 140, 16); */
    border-bottom-color:rgb(66, 157, 255);
    border-bottom-width: 4px;
    display: grid;
    text-align: center;
    margin:15px;
    border-radius: 3%;
    width:320px;
    height:90%;
    /* background-color: rgba(250,251,245,0.3); */
    /* background: linear-gradient(to top, rgb(250, 229, 180), rgb(250,251,245)); */
     
}


