
.container {
    position:relative;
    top:20px;
    display: flex;
    justify-content: space-between;
    padding:90px;

    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 100%;
    align-content: space-between;
  }


.ProgramsList-box{
    border: 1px solid #000000;
    border-left-color:red;
    border-left-width: 5px;
    display: grid;
    text-align: center;
    margin:15px;
 
    width:320px;
    height:90%;

   
}
