
.dropdown-menu {
    /* background: rgb(255, 136, 0); */
    width: 450px;
    height: 50px;
    position: relative;
    top: 100px;
    list-style: none;
    text-align: start;
    box-shadow:  2px 2px #888888;
    color:rgba(255, 72, 0, 0.911);
    top: 75px;
    left:150px;
    font-size: 15px;
    text-decoration: bold;
    /* display: none; */
  }

 
  
  .dropdown-menu li {
    background: #ffd088;
    cursor: pointer;
    color:black;
  }
  
  .dropdown-menu li:hover {
    background: #ffa876;
    color:black;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 16px;
  }
  
  .program-list{
      color: black;
      position: relative;
      top:120px;
      left:20%;
   
      border: 1px  solid black;
      border-left: 7px solid red;
      width: 800px;
      height: 150px;
      padding: 25px;
   
      overflow-x:visible;
      overflow-y: visible;
     
  }

    
  .program-list2{
    color: black;
    position: relative;
    top:140px;
    left:20%;

    border: 1px  solid black;
    border-left: 7px solid red;
    width: 800px;
    height: 150px;
    padding: 25px;
   
    overflow-x:visible;
    overflow-y: visible;
   
}
