*{
    max-width: 100%;}

.signin-container{
    margin: 80px auto;
    width: 450px;
    position: relative;
    height: 380px;
    border: 1px solid rgb(0, 0, 0);
    display: grid;
    text-align: center;
    padding:  0em 1em;
    border-radius: 10px;
    line-height: 2;
}


.signin-h1{
    font-size: 2rem;
    color: rgb(14, 13, 13);
    text-decoration: bold;
    position:absolute;
    top:10px;
    left: 35%;
 
}

.signin-email-label{
    position: absolute;
    top: 100px;
    left:60px;
}

.signin-email-input{
    position: absolute;
    top: 140px;
    right: 0;
    left:60px;
    width: 320px;
    height: 40px;
}

.signin-email-error{
    position: absolute;
    top: 175px;
    left: 60px;
    color:red;
    font-size: 12px;
}


.signin-password-label{
    position: absolute;
    top: 200px;
    left:60px;
}

.signin-password-input{
    position: absolute;
    top: 230px;
    left:60px;
    width: 320px;
    height: 40px;
}

.signin-password-error{
    position: absolute;
    top: 265px;
    left: 60px;
    color:red;
    font-size: 12px;
    
}

.signin-submit-button{
    /* font-size: 2rem; */
    color: white;
    font-size: 15px;
    text-decoration: bold;
    position:absolute;
    top:320px;
    left: 20%;
    border-radius: 20px;
    border: 1px solid coral;
    padding:0em 1em;
    height: 30px;
    width:250px;
    background-color: rgb(243, 175, 86)
}

.signin-submit-button:hover{
    /* font-size: 2rem; */
    color: white;
    /* text-decoration: bold; */
    position:absolute;
    top:320px;
    left: 20%;
    border-radius: 20px;
    border: 1px solid coral;
    padding:0em 1em;
    height: 30px;
    width:250px;
    background-color:coral;
}


.signin-to-signup{
    position:absolute;
    top:290px;
    left: 25%;
    font-size:13px;
    color: blue;
}

.google-signin{
    position: relative;
    top: 50%;
    left: 40%;
    width:270px;
}

.facebook-signin{
    position: relative;
    top:  10%;
    left: 40%;
    width:270px;
}
